<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="umg.student.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DoctorActivity.ChangePassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity.PatientCardExtendedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity.VerficationGeneratedCodeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity.SettingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity.EditPatientAppointmentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity.IllnessActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.ChangeForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminIllnessActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminMedicamenteActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminPatientActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.DoctorPersonalDataActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.MedicamenteActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.PatientCardActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.PatientActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>